# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env
.env.*

# Database
db.sqlite3
db.sqlite3-journal

# Django
media/
staticfiles/

# Python
__pycache__/
*.py[cod]

# IDE
.idea/
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

#Docker
Dockerfile
.dockerignore

Procfile